@font-face {
  font-family: "iconfont"; /* Project id 3420397 */
  src: url('iconfont.woff2?t=1653381933093') format('woff2'),
       url('iconfont.woff?t=1653381933093') format('woff'),
       url('iconfont.ttf?t=1653381933093') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-zhankai-:before {
  content: "\e648";
}

.icon-aixin_shixin:before {
  content: "\eca1";
}

.icon-zanting:before {
  content: "\e638";
}

.icon-yinpinshangyiquxiayiqu:before {
  content: "\e677";
}

.icon-bofang:before {
  content: "\e633";
}

.icon-xiayiqu:before {
  content: "\e613";
}

.icon-shezhi:before {
  content: "\e600";
}

.icon-bangzhu:before {
  content: "\e620";
}

.icon-caidan:before {
  content: "\e63c";
}

.icon-sousuoxiao:before {
  content: "\e8d6";
}

.icon-jiahao:before {
  content: "\eaf3";
}

.icon-timer:before {
  content: "\e664";
}

.icon-guanji:before {
  content: "\e628";
}

.icon-tasks:before {
  content: "\e65a";
}

.icon-shanchu:before {
  content: "\e714";
}

.icon-guanbi:before {
  content: "\e612";
}

.icon-fanqie:before {
  content: "\e8d9";
}

.icon-bianji:before {
  content: "\e624";
}

.icon-jiantou:before {
  content: "\e62a";
}

.icon-music-o:before {
  content: "\e6aa";
}

.icon-dictionary:before {
  content: "\e8e0";
}

